 ### List to Tuple

In [ ]:
my_list = [1,2,3,4,5]

In [2]:
type(my_list)

list

In [3]:
my_tuple = tuple(my_list)

In [4]:
print(my_tuple)

(1, 2, 3, 4, 5)

In [5]:
type(my_tuple)

tuple

### Tuple to Set

In [12]:
my_set = set(my_tuple)

In [13]:
my_set

{1, 2, 3, 4, 5}

### Set to list

In [15]:
my_list1 = list(my_set)

In [16]:
my_list1

[1, 2, 3, 4, 5]

In [20]:
my_list = ['a','b','c','d']

In [22]:
my_list.clear()

In [23]:
my_list

[]

In [26]:
my_list = ['hi this is rukmini']

In [28]:
my_list = my_list.copy()

In [280]:
list_4 = ['Hi','this','is','mini']

In [281]:
type(list_4)

list

In [284]:
list_4 ***** # doubt

['Hi', 'this', 'is', 'mini']

In [285]:
list_4.count('i')

0

In [56]:
list.append('hw r u')

In [57]:
list

['Hi this is mini', 'ty', 'hw r u']

In [59]:
my_list_int = [1,2,3,4,5]

In [60]:
print(my_list_int)

[1, 2, 3, 4, 5]

In [82]:
my_list_int.insert(1, 5.3)

In [83]:
my_list_int

[5.3, 5.3, 1, 2, 3, 4, 5, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3]

In [84]:
my_list_int.pop()

5.3

In [85]:
my_list_int

[5.3, 5.3, 1, 2, 3, 4, 5, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3]

In [88]:
my_list_int.pop(0)

5.3

In [89]:
my_list_int

[5.3, 1, 2, 4, 5, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3]

In [90]:
my_list_int.pop(0)

5.3

In [92]:
my_list_int.remove(4)

In [93]:
my_list_int

[1, 2, 5, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3, 5.3]

In [95]:
my_list_int.remove(5.3)

In [96]:
my_list_int.remove(5.3)

In [97]:
my_list_int.remove(5.3)

In [98]:
my_list_int1 = [7,8,9]

In [99]:
my_list_int.extend(my_list_int1)

In [100]:
my_list_int

[1, 2, 5, 5.3, 5.3, 5.3, 5.3, 5.3, 7, 8, 9]

In [101]:
my_list_int.remove(5.3)

In [102]:
my_list_int

[1, 2, 5, 5.3, 5.3, 5.3, 5.3, 7, 8, 9]

In [103]:
my_list_int.pop(3)

5.3

In [104]:
my_list_int

[1, 2, 5, 5.3, 5.3, 5.3, 7, 8, 9]

In [105]:
my_list_int.reverse()

In [106]:
my_list_int

[9, 8, 7, 5.3, 5.3, 5.3, 5, 2, 1]

In [268]:
tuple_1 = ('hello world')

In [271]:
print(tuple_1)

hello world

In [272]:
print(type(tuple_1))

<class 'str'>

In [275]:
tuple_1[0]

'h'

In [114]:
my_tuple.count('e')

0

In [115]:
t1 =(1,2,2,"hello")

In [116]:
t1

(1, 2, 2, 'hello')

In [117]:
set = {'a','b','d','e','g'}

In [118]:
set

{'a', 'b', 'd', 'e', 'g'}

In [119]:
print(type(set))

<class 'set'>

In [120]:
set.clear()

In [121]:
set

set()

In [128]:
set = {1,2,3,4,5}

In [129]:
set

{1, 2, 3, 4, 5}

In [133]:
set1 =set.copy()

In [134]:
set1

{1, 2, 3, 4, 5}

In [136]:
set.add(8)

In [137]:
set

{1, 2, 3, 4, 5, 8}

In [138]:
set.difference(set1)

{8}

In [139]:
set

{1, 2, 3, 4, 5, 8}

In [140]:
set1

{1, 2, 3, 4, 5}

In [143]:
res = set1.difference_update(set)

In [144]:
print(res)

None

In [146]:
res = set.difference_update(set1)

In [147]:
print(res)

None

In [148]:
print(set)

{1, 2, 3, 4, 5, 8}

In [149]:
print(set1)

set()

In [150]:
s1 = {1.2,1.3,1.5,0.6}

In [151]:
s2 = {0,1,2,3,4,5}

In [158]:
res2 = s2.difference(s1)

In [159]:
s1

{0.6, 1.2, 1.3, 1.5}

In [160]:
s2

{0, 1, 2, 3, 4, 5}

In [161]:
print(res2)

{0, 1, 2, 3, 4, 5}

In [164]:
s2.discard(1)

In [165]:
s2

{0, 2, 3, 4, 5}

In [166]:
s1.discard(1.2)

In [167]:
s1

{0.6, 1.3, 1.5}

In [168]:
s1.discard(0.6)

In [169]:
s1

{1.3, 1.5}

In [170]:
s_1 = {'a','b','c','d'}

In [177]:
s_2 = {'e','f','g','h'}

In [181]:
s_3 = {'u','v','w','x','y'}

In [182]:
s1_2 = s_1.intersection(s_2)

In [183]:
print(s1_2)

set()

In [184]:
s2_3 = s_2.intersection(s_3)

In [185]:
s2_3

set()

In [186]:
s3_1 = s_3.difference(s_1)

In [187]:
s3_1

{'u', 'v', 'w', 'x', 'y'}

In [188]:
s_4 = {1,2,3,4}

In [189]:
s_5 = {4,5,6,7}

In [190]:
s_6 = {6,8,7,10}

In [193]:
s4_5 = s_4.intersection_update(s_5)

In [194]:
s_4

set()

In [195]:
s5_6 = s_5.intersection_update(s_6)

In [197]:
s_5

set()

In [199]:
s6_1 = s_6.intersection_update(s_1)

In [200]:
s_6

set()

In [201]:
a = {1,2,3,4,5}

In [202]:
b = {6,7,8}

In [203]:
c = {2,4,5,1}

In [205]:
print(a.isdisjoint(b))

True

In [206]:
print(b.isdisjoint(c))

True

In [208]:
print(c.isdisjoint(a))

False

In [209]:
a1 = {'a','b','c'}

In [210]:
b1 = {'a','b','c','d','e','f','g','h','i'}

In [211]:
c1 = {'f','g','h'}

In [212]:
print(a1.issubset(b1))

True

In [213]:
print(b1.issubset(c1))

False

In [214]:
print(c1.issubset(a1))

False

In [218]:
print(c1.issubset(b1))

False

In [226]:
A = {'a','b','c','d'}

In [227]:
b = {'c','d','e'}

In [264]:
c = {''}

In [265]:
print(A.symmetric_difference(b))

{'e', 'a', 'b'}

In [266]:
print(b.symmetric_difference(c))

{'', 'e', 'c', 'd'}

In [267]:
print(c.symmetric_difference(A))

{'', 'b', 'd', 'a', 'c'}

# if else and loop conditions

In [232]:
a = 3

In [233]:
if a > 0:
    print("a is a positive num.")
    print("This is also a positive num.")

a is a positive num.
This is also a positive num.

In [241]:
a = -1

In [242]:
if a >= 0:
    print('positive or 0.')
else:
    print('negative')

negative

In [248]:
num = 3.4

In [259]:
if num > 0:
     print ('positive num.')
elif num == 0:
     print('zero.')
else:
    print('negative num')

negative num

In [261]:
num = float(input("Enter a number: "))

Enter a number: 11.3

In [263]:
if num >= 0:
    if (num == 0):
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number