In [1]:
my_str_list = ['rukkku','akula']

In [2]:
my_nest_list = [1,2,3,[4,5,['rukku','akula']]]

In [3]:
print(my_nest_list)

[1, 2, 3, [4, 5, ['rukku', 'akula']]]

In [4]:
my_nest_list(3)

TypeError: 'list' object is not callable

In [5]:
my_nest_list[3]

[4, 5, ['rukku', 'akula']]

In [6]:
my_nest_list[0]

1

In [7]:
my_nest_list[-1]

[4, 5, ['rukku', 'akula']]

In [8]:
my_nest_list[4]

IndexError: list index out of range

In [9]:
my_nest_list[-1][0][0]

TypeError: 'int' object is not subscriptable

In [10]:
my_nest_list[3][2]

['rukku', 'akula']

In [11]:
my_nest_list[1][2][0][0]

TypeError: 'int' object is not subscriptable

In [13]:
my_nest_list[3][2][0][0]

'r'

In [16]:
my_nest_list[3][2][1][1]

'k'

In [17]:
my_str_list.append('mini')

In [23]:
print(my_str_list)

['rukkku', 'akula', 'mini']

In [24]:
my_str_list.clear('rukku')

TypeError: clear() takes no arguments (1 given)

In [25]:
my_str_list.extend('am')

In [26]:
print(my_str_list)

['rukkku', 'akula', 'mini', 'a', 'm']

In [27]:
my_str_list.clear('a','m')

TypeError: clear() takes no arguments (2 given)

In [29]:
my_str_list.insert('hey','hi')

TypeError: 'str' object cannot be interpreted as an integer

In [32]:
my_str_list.remove('mini')

In [33]:
print(my_str_list)

['rukkku', 'akula', 'a', 'm']

In [45]:
my_str_list.reverse('rukkku', 'akula', 'a', 'm')

TypeError: reverse() takes no arguments (4 given)

my_str_list.index(0)

In [44]:
my_str_list.index(2)

ValueError: 2 is not in list

In [48]:
my_str_list.count(3)

0

In [49]:
t1 = ("name")

In [50]:
type(t1)

str

In [51]:
t1 = (1,2,3,4)

In [52]:
type(t1)

tuple

In [53]:
print(t1)

(1, 2, 3, 4)

In [54]:
t1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [55]:
len(t1)

4

In [58]:
t1[0]

1

In [59]:
t1[1:]

(2, 3, 4)

In [60]:
t1[:3]

(1, 2, 3)

In [61]:
t1.count(2)

1

In [62]:
t1.index(4)

3

In [63]:
my_list = list(t1)

In [64]:
my_list

[1, 2, 3, 4]

In [65]:
type(my_list)

list

In [66]:
t1 = tuple(my_list)

In [67]:
type(t1)

tuple

In [68]:
print(t1)

(1, 2, 3, 4)

In [73]:
s ={'my','name'}

In [74]:
type(s)

set

In [75]:
print(s)

{'name', 'my'}

In [76]:
s[0]

TypeError: 'set' object does not support indexing

In [77]:
list_num = [4,3,2,1]

In [78]:
t2_num = (1,2,3,4)

In [80]:
print(list_num)

[4, 3, 2, 1]

In [81]:
print(t2_num)

(1, 2, 3, 4)

In [82]:
type(list_num)

list

In [83]:
type(t2_num)

tuple

In [85]:
list_num[0] = 5

In [86]:
print(list_num)

[5, 3, 2, 1]

In [88]:
t2_num[0] = 6

TypeError: 'tuple' object does not support item assignment

In [89]:
dir(list_num)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [90]:
dir(t2_num)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [99]:
s.remove('my)'

SyntaxError: unexpected EOF while parsing (<ipython-input-99-b4da735eac2e>, line 1)

In [100]:
s.add('rukmini')

In [101]:
print(s)

{'name', 'rukmini', 'my'}